$primary-hex: #65E4A3;
$secondary-hex: #0A2640;
$tertiary-hex: #000;
$text-white-hex: #ffffff;
$gray-hex: #777;
$light-gray-hex:#F1F1F1;


$primary: var(--primary);

$secondary: var(--secondary);

$tertiary: var(--tertiary);

$text-white: var(--text-white);
$light-gray:var( --light-gray);
$gray: var(--gray);
// font family
$heading-font: 'Manrope', sans-serif;
$body-font: 'Open Sans', sans-serif;
// font weight
$body-font-weight: 300;